################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/leetcode-practice/.vs
/leetcode-practice/problem.app/bin/Debug/net10.0
/leetcode-practice/problem.app/obj
